name: Build and Release APK

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Decode and save keystore
#        run: |
#            mkdir -p app
#            printf "%s" "$KEYSTORE_BASE64" | tr -d '[:space:]' | base64 --decode > app/release.keystore
#        env:
#          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}

        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > app/release.keystore
        # Note: We save it as 'release.keystore' so your Gradle
        # file (which looks for release.keystore) still finds it.

      - name: Check keystore file
        run: |
          ls -l app/release.keystore
          file app/release.keystore

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2

      - name: Build APK
        run: ./gradlew assembleRelease
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Create Release and Upload APK
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/release/app-release.apk
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
